/* Button styles */
.button {
  background-color: #7f00ff;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.button:hover {
  background-color: #333;
}

/* Header styles */
header {
  background-color: #7f00ff; /* Adjusted color */
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* H1 styles */
header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Navigation links styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Settings dropdown styles */
.settings-dropdown select {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-dropdown select:focus {
  outline: none;
}

/* Card styles */
.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 70px;
  width: 300px;
  margin: auto; /* Center the card horizontally */
  margin-top: 50px; /* Add some space from the top */
}

/* Form styles */
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Adjust as necessary */
  
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the vertical spacing between form elements */
}

.form-container label {
  margin-bottom: 5px; /* Adjust the bottom margin for labels */
}

.form-container input {
  padding: 10px; /* Adjust the padding for input fields */


}

.form-container button {
  padding: 12px 20px; /* Adjust the padding for the button */
  margin-top: 10px; /* Adjust the top margin for the button */
}

/* Style each form group */
.form-group {
  margin-bottom: 20px; /* Add space between each form group */
}

/* Style the label to display as a block, which will make it sit on top of the input */
label {
  display: block;
  margin-bottom: 5px; /* Add some space between the label and input */
}

/* Style the label to display as a block, which will make it sit on top of the input */
label {
  display: block;
  margin-bottom: 5px; /* Add some space between the label and input */
}



/* Style inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; /* Make inputs fill their container */
  padding: 10px;
  margin-bottom: 10px; /* Add some space below each input */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the error and success messages */
.error-message,
.success-message {
  color: #d8000c; /* Red color for errors */
  margin-bottom: 10px;
}

.success-message {
  color: #4BB543; /* Green color for success */
}



/* Footer styles */
footer {
  background-color: #7f00ff; /* Adjusted color */
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
