/* Button styles */
.button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.button:hover {
  background-color: #45a049;
}

/* Header styles */
header {
  background-color: #7f00ff; /* Adjusted color */
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* H1 styles */
header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Navigation links styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Settings dropdown styles */
.settings-dropdown select {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-dropdown select:focus {
  outline: none;
}

/* Footer styles */
footer {
  background-color: #7f00ff; /* Adjusted color */
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
